.custom-title {
    font-size: 1.2rem;
}

.form-label {
    font-weight: 500;
    color: #434147;
}

input.form-control {
    font-size: 1em;
    line-height: 1;
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.alert-info-light {
    background-color: #f0f8ff; 
    border-color: #bee3f8; 
    color: #0c5460;
}

.alert-info-light ul {
    display: inline-block; 
    text-align: left;      
    padding-left: 1.2rem;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control:disabled {
    background-color: transparent !important;
}