.form-label {
    color: #495057;
    font-weight: 500;
}

.form-control {
    font-size: 1em;
    line-height: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.6rem;
}

.form-control:disabled {
    background-color: transparent !important;
}