.text-justify {
  text-align: justify;
}

.custom-title {
  font-size: 1.2rem;
}

table th,
table td {
  color: #434147 !important;
  font-weight: normal;
}

td.text-justify {
  white-space: normal !important;
  word-break: break-word;
  min-width: 200px;
}

table th {
  text-align: center;
  vertical-align: middle;
}