h6,
.form-group h6,
.form-group label {
    font-weight: 500;   
    color: #434147;     
    font-size: 1.1rem;
}

.table thead th {
    font-weight: 500;
    color: #434147;
    font-size: 1.1rem;
}

.btn-outline-secondary {
    border: 1px solid #dee2e6 !important; 
    font-size: 1.1rem;
    border-radius: 8px; 
}


.full-divider {
    border-top: 1px solid #e4eaee;
    margin: 2.5rem 0;
}

input.form-control {
    font-size: 1em;
    line-height: 1;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    border-radius: 8px; 
    border: 1px solid #dee2e6;
}

.d-flex.flex-wrap.gap-3 {
    gap: 0.8rem !important;
}

.card {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: none;
    border-radius: 12px;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio-text {
    border: none !important;
    pointer-events: none;
    cursor: default;
}

.btn-check:checked + .btn-outline-secondary {
    border-color: #3886fa !important; 
    background-color: #e8f2ff;
    color: #1a5a8a !important;
    font-weight: 500;
}


.form-control:disabled {
    background-color: transparent !important;
}
