body {
    min-height: 100vh;
}

@media (max-width: 768px) {
    .responsive-title {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
    }
    .responsive-text {
        font-size: 1.1rem !important;
        text-align: center;
        margin: 0 auto;
    }

    .img-fluid {
        margin-top: 1rem;
    }
}