.custom-navbar {
    background-color: #0E2A47;
}

.custom-navbar-p {
    background-color: #154360;
}

.navbar-nav .nav-link {
    color: #959DA7;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover i {
    color: #f8f7f7;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-item .active-link,
.navbar-nav .nav-item .active-link i {
    font-weight: 450;
    color:#F0FCFE;
}