input.form-control {
    font-size: 1em;
    line-height: 1;
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.form-label {
    font-weight: 500;
    color: #434147;
}

.divider-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #b6b9bb;
}

.divider-text::before,
.divider-text::after {
    content: "";
    flex: 1;
    border-top: 2px solid #dee2e6;
}

.divider-text span {
    padding: 0 1rem;
}

.divider {
    margin: 3rem 0;
    position: relative;
}